body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://skoop-signage-storage-v2-dev.s3.amazonaws.com/HlRB6h0_VE3fNWcQsNqOqhNNIOKDLekmGS3y1L8Qn8c=_skoop_media_7c72a532f6360e29e3f010659aa0b2a7_177365444.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0;
}
