body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://skoop-signage-storage-v2-dev.s3.amazonaws.com/B9eqHirSmX77njUBda9MTUttAf1TlygTlFBl2eTq9Gs=_skoop_media_e6d96502596d7e7887b76646c5f615d9_649934586.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    background-attachment: scroll; /* Changed from fixed to scroll for pseudo-element positioning */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red; /* Red tint */
    mix-blend-mode: multiply; /* Blend mode to tint the background image */
    z-index: -1; /* Ensure it's behind the content */
}

.container {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0;
}
